@section Scripts{ 
<script>
    var ViewModel = function () {
        var self = this;

        self.Students = ko.observableArray([]);
        self.Groups = ko.observableArray([]);

        self.currentStudent = ko.observable(null);
        self.currentGroup = ko.observable(null);

        getStudents();
        getGroups();

        self.openCard = function (student) {
            self.currentStudent(student);
            $("#cardStudentModal").modal('show');
        }

        self.editStudent = function () {
            $("#editStudentModal").modal('show');
        }

        self.deleteStudent = function (student) {
            if (confirm("Вы действительно хотите удалить запись "
                + student.studentId
                + "|"
                + student.lastName
                + " "
                + student.name
                + " "
                + student.middleName
                + " ?"))
            {
                $.ajax({
                    url: "/Api/ApiStudent",
                    method: "DELETE",
                    data: ko.toJSON(student),
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        self.Students.splice(self.Students.indexOf(student), 1);
                    },
                    error: function () { alert("При удалении записи произошла ошибка...") }
                });
            }
        }

        //Добавляет студента, если его нет.
        //Изменяет студента, если он есть
        self.saveChanges = function (student) {
            for (var i = 0; i < Students.length; i++) {
                if (student.studentId == Students[i].studentId) {
                    $.ajax({
                        url: "/Api/ApiStudent",
                        method: "PUT",
                        data: student,
                        success: function () {
                            var index = self.Students.indexOf(student);
                            self.Students[index] = student;
                        },
                        error: function () { alert("Ошибка обновления записи...") }
                    });
                    return '';
                }
            }
            $.ajax({
                url: "/Api/ApiStudent",
                method: "POST",
                data: student,
                success: self.Students.push(student),
                error: function () { alert("Ошибка добавления записи...") }
            });
        }
        //Возвращает студентов
        function getStudents() {
            $.ajax({
                url: "/api/ApiStudent",
                method: "GET",
                success: function (data) {
                    self.Students(data);
                    console.log(data);
                },
                error: alert("Ошибка загрузки студентов")
            });
        }

        //Возвращает группы
        function getGroups() {
            $.ajax({
                url: "/api/ApiGroup",
                method: "GET",
                success: function (data) {
                    self.Groups(data);
                },
                error: alert("Ошибка загрузки групп")
            })
        }
    }

    $(document).ready(function () {
        ko.applyBindings(new ViewModel);
    });
</script>
}

<div class="container">
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
                <tr class="">
                    <th>ID</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Группа</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Students">
                <tr>
                    <th data-bind="text: studentId"></th>
                    <td data-bind="text: lastName"></td>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: middleName"></td>
                    <td data-bind="text: group.name"></td>
                    <td><button class="btn btn-secondary" data-bind="click: $root.openCard">Подробнее</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="editStudentModal" class="modal" tabindex="-1" role="dialog" data-bind="with: currentStudent">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">

                    <div class="col-md-4">
                        <label for="lname">Фамилия</label>
                        <input type="text" id="lname" data-bind="" placeholder="Введите фамилию" />
                    </div>
                    <div class="col-md-4">
                        <label for="name">Имя</label>
                        <input type="text" id="name" data-bind="" placeholder="Введите имя" />
                    </div>
                    <div class="col-md-4">
                        <label for="mname">Отчество</label>
                        <input type="text" id="mname" data-bind="" placeholder="Введите отчество" />
                    </div>
                    <div class="form-group">
                        <label>Группа</label>
                        <select class="form-control">
                            <option>Выберите группу</option>
                            <!-- ko foreach: $root.Groups-->
                            <option data-bind="text: name"></option>
                            <!-- /ko -->
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="phone">Номер телефона</label>
                        <input type="text" id="phone" data-bind="" placeholder="Введите номер телефона" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" data-bind="" placeholder="Введите email" />
                    </div>
                    <div class="form-group">
                        <label for="adress">Адрес</label>
                        <input type="text" id="adress" data-bind="" placeholder="Введите адрес" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click: $root.saveChanges">Сохранить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<div id="cardStudentModal" class="modal" tabindex="-1" role="dialog" data-bind="with: currentStudent">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title center">Карточка студента</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <h3 data-bind="text: lastName + ' ' + name + ' ' + middleName"></h3>
                            <dl class="row">
                                <dt class="col-sm-3">Группа</dt>
                                <dd class="col-sm-9" data-bind="text: group.name"></dd>

                                <dt class="col-sm-3">Номер телефона</dt>
                                <dd class="col-sm-9" data-bind="text: phoneNumber"></dd>

                                <dt class="col-sm-3">Почта</dt>
                                <dd class="col-sm-9" data-bind="text: email"></dd>

                                <dt class="col-sm-3">Адрес</dt>
                                <dd class="col-sm-9" data-bind="text: adress"></dd>
                            </dl>
                        </div>
                        <div class="col-md-4">
                            <img src="#" alt="Здесь должно быть фото студента" />
                            <small>Фото студента</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with data manipulations">
                    <div class="btn-group" role="group" aria-label="Data manipulations">
                        <button type="button" data-bind="click: $root.editStudent" class="btn btn-warning">Редактировать</button>
                        <button type="button" data-bind="click: $root.deleteStudent" class="btn btn-danger">Удалить</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="deleteStudentModal" class="modal" tabindex="-1" role="dialog" data-bind="with: currentStudent">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Вы действительно хотите удалить <mark data-bind="text: studentId + '|' + lastName + ' ' + name + ' ' + middleName"></mark></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click: $root.confirmDeleteStudent">Удалить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>